<div class="footer">
    <div class="icones">

        <a href="http://www.facebook.com" target="_blank" rel="noopener noreferrer"><i
                class="fa-brands fa-facebook fa-lg"></i></a>

        <a href="http://www.twitter.com" target="_blank" rel="noopener noreferrer"><i
                class="fa-brands fa-twitter fa-lg"></i></a>

        <a href="http://www.instagram.com" target="_blank" rel="noopener noreferrer"><i
                class="fa-brands fa-instagram fa-lg"></i></a>

        <a href="http://www.youtube.com" target="_blank" rel="noopener noreferrer"><i
                class="fa-brands fa-youtube fa-lg"></i></a>

        <a href="http://www.pinterest.com" target="_blank" rel="noopener noreferrer"><i
                class="fa-brands fa-pinterest fa-lg"></i></a>
    </div>

    <p>O conteúdo deste site está protegido por copyright e é propriedade da H & M Hennes & Mauritz AB. O conceito de
        negócio da H&M é a oferta de moda e qualidade aos melhores preços, de forma sustentável. Desde que foi fundada,
        em 1947, a H&M tornou-se uma das maiores empresas de moda do mundo.</p>
</div>