<div class="productspage">

    <div class="sidemenuconatiner">
        <div class="sidemenu">
            <div class="sidemenuheader">Tipo</div>
            <div *ngFor="let type of typesList">
                <input type="checkbox" [name]="type" [id]="type" (click)="filterProducts('Tipo',type)">
                <label [for]="type">{{type}}</label>
            </div>


            <div class="sidemenuheader">Cor</div>
            <div *ngFor="let color of colorsList">
                <input type="checkbox" [name]="color" [id]="color" (click)="filterProducts('Cor',color)">
                <label [for]="color">{{color}}</label>
            </div>

        </div>
    </div>

    <div class="productsshow">

        <div class="productsshowcontainer">

            <div class="productsshowheader">
                <div>Homem</div>
                <p>Total de resultados: {{totalProducts}}</p>
            </div>

            <!-- <div> -->
            <div class="productsshowspace">
                <div *ngFor="let product of productsList" class="box">
                    <div class="formatimg">


                        <!-- *ngIf="servLogin.loged" -->
                        <div *ngIf="servLogin.loged" class="wishlist">

                            <i (click)="addWishlist(product.id)" *ngIf="!wishList(product.id)" class="far fa-star fa-lg"></i>

                            <i (click)="removeWishlist(product.id)" *ngIf="wishList(product.id)" class="fas fa-star fa-lg"></i>

                            <!-- Teste wish list com ngFor -->

                            <!-- <div *ngFor="let wishlist of servLogin.user.wishlist">
                                <i *ngIf="(wishlist === product.id)" class="fas fa-star fa-lg" #star></i>
                            </div> -->     
                            
                            <!-- Inicial -->

                            <!-- <i class="far fa-star fa-lg"></i>

                            <i class="fas fa-star fa-lg"></i> -->


                        </div>

                        <img [src]="'/assets/Imagens/'+product.foto_principal" [alt]="product.nome"
                            (click)="showProductInfo(product.id)" (mouseover)="showSecondImage()"
                            (mouseout)="showFirstImage()">

                            <!-- Testes trocar imagem de fundo -->

                        <!-- <img *ngIf="!secoundImg" [src]="'/assets/Imagens/'+product.foto_principal" [alt]="product.nome" (click)="showProductInfo(product.id)" (mouseover)="showSecondImage()">

                        <img *ngIf="secoundImg" [src]="'/assets/Imagens/'+product.foto_secundaria" [alt]="product.nome" (click)="showProductInfo(product.id)" (mouseout)="showFirstImage(product.id)"> -->

                    </div>
                    <div class="formattext">
                        <div style="font-weight: bold; font-size: large;">{{product.marca}}</div>
                        <div>{{product.nome}}</div>
                        <div style="font-size: large;">{{product.preco}} €</div>
                    </div>
                </div>
            </div>
            <!-- </div> -->

            <div *ngIf="seeMoreButton" class="productsshowfooter" (click)="filterProducts('VerMais','')">
                Ver mais
            </div>

            <div *ngIf="!seeMoreButton" class="productsshowfooter">
                Não há mais produtos para visualizar.
            </div>
        </div>
    </div>



</div>

<div *ngIf="wishlistAddedPopup" class="user-registed-popup">
    <div class="user-registed-box">
        <div>Adicionado na wishlist.<div>
        <button mat-raised-button color="warn" (click)="closeWishlistPopUp()">Ok!</button>
    </div>
</div>