<div class="productspage">

    <div class="sidemenuconatiner">
        <div class="sidemenu">
            <div class="sidemenuheader">Tipo</div>
            <div *ngFor="let type of typesList">
                <input type="checkbox" [name]="type" [id]="type" (click)="filterProducts('Tipo',type)">
                <label [for]="type">{{type}}</label>
            </div>


            <div class="sidemenuheader">Cor</div>
            <div *ngFor="let color of colorsList">
                <input type="checkbox" [name]="color" [id]="color" (click)="filterProducts('Cor',color)">
                <label [for]="color">{{color}}</label>
            </div>

        </div>
    </div>

    <div class="productsshow">

        <div class="productsshowcontainer">

            <div class="productsshowheader">
                <div>Homem</div>
                <p>Total de resultados: {{totalProducts}}</p>
            </div>

            <!-- <div> -->
            <div class="productsshowspace">
                <div *ngFor="let product of productsList" class="box">
                    <div class="formatimg">
                        <div class="wishlist">
                            <i class="far fa-star fa-lg"></i>
                            <i class="fas fa-star fa-lg"></i>
                        </div>
                        <img [src]="'/assets/Imagens/'+product.foto_principal" [alt]="product.nome" (click)="showProductInfo(product.id)">

                    </div>
                    <div class="formattext">
                        <div style="font-weight: bold; font-size: large;">{{product.marca}}</div>
                        <div>{{product.nome}}</div>
                        <div style="font-size: large;">{{product.preco}} €</div>
                    </div>
                </div>

            </div>
            <!-- </div> -->

            <div *ngIf="seeMoreButton" class="productsshowfooter" (click)="seeMoreProducts()">
                Ver mais
            </div>

            <div *ngIf="!seeMoreButton" class="productsshowfooter">
                Não há mais produtos para visualizar.
            </div>

        </div>

    </div>



</div>