.productspage {
    display: flex;
    justify-content: center;
}

.sidemenuconatiner {
    position: relative;
    top: 0;
    left: 0;
}

.sidemenu {
    width: 200px;
    border: 2px solid black;
    margin: 5px;
    text-align: center;
}

.sidemenu div {
    padding: 5px 0;
}

.sidemenuheader {
    background-color: orange;
    color: white;
    font-weight: bold
}

.sidemenu input,
.sidemenu label {
    cursor: pointer;
}

.productsshow {
    /* border: 2px solid black; */
    margin: 5px;
}

.productsshowspace {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.box {
    /* background-color: darkgreen; */
    width: 300px;
    height: 500px;
    margin: 10px;
    /* border: 1px solid black; */
}

.productsshowheader div {
    font-weight: bold;
    font-size: xx-large;
    padding: 20px 0px;
    text-align: center;
}


.productsshowfooter {
    text-align: center;
    cursor: pointer;
    color: white;
    background-color: black;
    padding: 20px;
}

.formatimg {
    position: relative;
    width: 300px;
    height: 400px;    
}

.formattext div {
    padding: 5px 0;
}

.wishlist {
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

.wishlist i {
    color: red;
}
