<header>
    <nav>
        <!-- <div class="top_menu">
            <div><a routerLink="/" routerLinkActive="activa">Homem</a></div>
            <div>|</div>
            <div><a routerLink="/" routerLinkActive="activa">Mulher</a></div>
            <div><a routerLink="" routerLinkActive="activa" [routerLinkActiveOptions]="{ exact : true }"><img src="\assets\Imagens\logo.png" alt="Logo image"></a></div>
            <div><a routerLink="/" routerLinkActive="activa">Criança</a></div>
            <div>|</div>
            <div><a routerLink="/" routerLinkActive="activa">Acessórios</a></div>
        </div> -->

        <ul class="top_menu">

            
            <li><a routerLink="/" routerLinkActive="activa">Homem</a></li>
            <li><a routerLink="/" routerLinkActive="activa">Mulher</a></li>


            <li><a routerLink="" routerLinkActive="activa" [routerLinkActiveOptions]="{ exact : true }"><img src="\assets\Imagens\logo.png" alt="Logo image"></a></li>

            <li><a routerLink="/" routerLinkActive="activa">Criança</a></li>
            <li><a routerLink="/" routerLinkActive="activa">Acessórios</a></li>

        </ul>
    </nav>
</header>

<main>
    <router-outlet></router-outlet>
</main>
<footer></footer>