.navbar {
    top: 0;
    left: 0;
    width: 100%;
}

.navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.navbar-menu img {
    cursor: pointer;
    height: 70px;
}

.navbar-icons {
        position: absolute;
        right: 10px;
        display: flex;
        gap: 2.5px;        
}