<h1 style="font-weight: bold; margin: 5px;">Gestão de Produtos</h1>

<div class="form">
    <form [formGroup]="productForm" (ngSubmit)="insertProduct()">

        <div class="container">

            <div class="line">
                <label>Produto:</label><input type="text" formControlName="nome">
            </div>

            <div class="line">
                <label>Marca:</label><input type="text" formControlName="marca">
            </div>

            <div class="line">
                <label>Tipo:</label>
                <select formControlName="tipo_de_produto">

                    <option default disabled>-- Selecionar um tipo de produto --</option>

                    <option *ngFor="let type of productTypes" [ngValue]="type">{{type}}</option>

                </select>
            </div>

            <div class="line">
                <label>Cor:</label><input type="text" formControlName="cor">
            </div>

            <div class="line">
                <label>Preço:</label><input type="number" formControlName="preco">
            </div>

            <div class="line">
                <label>Descrição:</label> <textarea formControlName="descricao"></textarea>
            </div>

            <div class="toggle">

                <label class="switch">
                    <input type="checkbox" formControlName="destaque">
                    <span class="slider round"></span>
                </label>
                <label style="margin: 5px; padding-top:5px;">Destaque</label>
            </div>

            <small *ngIf="!productForm.valid" style="margin: 5px;">*Todos os campos são de preenchimento
                obrigatório</small>

            <button *ngIf="productForm.valid" mat-raised-button color="primary" class="submitbtn">Inserir
                produto</button>

            <button *ngIf="!productForm.valid" mat-raised-button color="primary" class="submitbtn" disabled>Inserir
                produto</button>

        </div>
    </form>
</div>

<div class="searchbox">
    <label>Pesquisa:</label>
    <input type="text" #searchedContent>
    <button mat-raised-button color="primary" class="searchtbtn"
        (click)="getProducts(searchedContent.value)">Pesquisa</button>
    <button mat-raised-button color="primary" class="searchtbtn"
        (click)="searchedContent.value=''; getProducts(searchedContent.value)">Limpar pesquisa</button>
</div>

<h3 style="font-weight: bold; margin: 10px 5px;">Lista de Produtos</h3>

<table class="tablebox">
    <thead>
        <tr>
            <th>Foto</th>
            <th>Marca</th>
            <th>Produto</th>
            <th>Tipo produto</th>
            <th>Cor</th>
            <th>Preço</th>
            <th>Descrição</th>
            <th>Destaque</th>
            <th>Operações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let prod of filterProducts">
            <td id="tableimg"><img [src]="'/assets/Imagens/' + prod.foto_principal" [alt]="prod.foto_principal"></td>
            <td>{{prod.marca}}</td>
            <td>{{prod.nome}}</td>
            <td>{{prod.tipo_de_produto}}</td>
            <td>{{prod.cor}}</td>
            <td>{{prod.preco}} €</td>
            <td>{{prod.descricao}}</td>
            <td>{{ prod.destaque ? '&#10004;' : '&#10005;' }}</td>
            <td><button mat-raised-button color="primary" class="deletebtn" (click)="showDeletePopup()">x</button>
                <div *ngIf="validateDeletePopUp" class="user-delete-popup">
                    <div class="user-delete-box">
                        <div>Tem a certeza que pretende eliminar o produto?</div>
                        <button mat-raised-button color="warn"
                            (click)="deleteProduct(prod.id, searchedContent.value)">Sim</button>

                        <button mat-raised-button color="warn" (click)="hideDeletePopup()">Não</button>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>


<h3 style="font-weight: bold; margin: 20px 5px;">Lista de utilizadores</h3>

<table class="tablebox">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>User válido</th>
            <th>Validar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of usersList">
            <td>{{user.nome}}</td>
            <td>{{user.email}}</td>
            <td>{{user.active ? '&#10004;' : '&#10005;'}}</td>
            <td *ngIf="!user.active">
                <i class="fa-solid fa-circle-check" style="color: green; cursor: pointer;"
                    (click)="validateUser(user)"></i>
            </td>
            <td *ngIf="user.active"></td>
        </tr>
    </tbody>
</table>