<form class="profileForm" [formGroup]="profileForm" (ngSubmit)="insertUser()">

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nome Completo</mat-label>
        <input type="text" matInput formControlName="nome">
<!-- 
        <mat-error *ngIf="formGroup.get('nome')?.hasError('required')">
            Please enter a valid name
        </mat-error> -->

        <!-- <mat-error *ngIf="formGroup.controls['nome'].errors?.['required']">
            Please enter a valid name
        </mat-error> -->

        <mat-error *ngIf="formGroup.get('required')">
            Please enter a valid name
        </mat-error>

        <!-- formGroup.get('nome')?.invalid -->

        <!-- <mat-error *ngIf="nome.hasError('required')">
            Please enter a valid name
        </mat-error> -->

    </mat-form-field>



    <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error> -->

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Senha</mat-label>
        <input type="password" matInput formControlName="password">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Morada</mat-label>
        <input type="password" matInput placeholder="Ex. Rua marquês de pombal" formControlName="morada">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Código-postal</mat-label>
        <input matInput #giroCode maxlength="7" placeholder="Ex. 3789-418" formControlName="codigoPostal">
        <mat-hint align="end">{{giroCode.value.length}} / 7</mat-hint>
    </mat-form-field>


    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>País</mat-label>
        <input type="text" matInput placeholder="Ex. Portugal" formControlName="pais">
    </mat-form-field>

    <div class="example-button-row">
        <button type="submit" mat-raised-button color="warn">Registar!</button>
    </div>
</form>