<div class="form">

    <form class="profileForm" [formGroup]="formProfile" (ngSubmit)="insertUser()">

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nome Completo</mat-label>
            <input *ngIf="insertMode" matInput formControlName="nome">

            <input *ngIf="!insertMode && !editUserData" matInput disabled value="{{user.nome}}">

            <input *ngIf="!insertMode && editUserData" matInput formControlName="nome">

        </mat-form-field>

        

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input *ngIf="insertMode" matInput formControlName="email">
            <input *ngIf="!insertMode && !editUserData" matInput disabled value="{{user.email}}">
            <input *ngIf="!insertMode && editUserData" matInput formControlName="email">

            <mat-error *ngIf="formProfile.controls['email'].errors?.['email']">
                Por favor insira um email válido
            </mat-error>

        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Senha</mat-label>
            <input *ngIf="insertMode" matInput formControlName="password">
            <input *ngIf="!insertMode && !editUserData" matInput disabled value="{{user.password}}">
            <input *ngIf="!insertMode && editUserData" matInput formControlName="password">

            <mat-error *ngIf="formProfile.controls['password'].errors?.['pattern']">
                A senha deve conter no mínimo 8 caracteres,
                uma letra maiúscula, uma letra minúscula, um algarismo e um símbolo.
            </mat-error>

        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Morada</mat-label>
            <input *ngIf="insertMode" matInput placeholder="Ex. Rua marquês de pombal" formControlName="morada">
            <input *ngIf="!insertMode && !editUserData" matInput disabled value="{{user.morada}}">
            <input *ngIf="!insertMode && editUserData" matInput formControlName="morada">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Código-postal</mat-label>

            <input *ngIf="insertMode" matInput #ZipCode maxlength="8" placeholder="Ex. 3789-418" formControlName="codigoPostal">
            <input *ngIf="!insertMode && !editUserData" matInput disabled value="{{user.codigoPostal}}">
            <input *ngIf="!insertMode && editUserData" matInput formControlName="codigoPostal">

            <mat-error *ngIf="formProfile.controls['codigoPostal'].errors?.['minLength']">
                O código postal deve conter pelo menos 8 caracteres. Ver exemplo.
            </mat-error>
        </mat-form-field>


        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>País</mat-label>
            <input *ngIf="insertMode" matInput placeholder="Ex. Portugal" formControlName="pais">
            <input *ngIf="!insertMode && !editUserData" matInput disabled value="{{user.pais}}">
            <input *ngIf="!insertMode && editUserData" matInput formControlName="pais">
        </mat-form-field>

        <mat-hint *ngIf="formProfile.invalid">*Todos os campos são de preenchimento obrigatório </mat-hint>

        <div class="example-button-row">

            <button *ngIf="formProfile.valid && insertMode" mat-raised-button color="warn">Registar!</button>            

            <button *ngIf="formProfile.valid && !insertMode && editUserData" mat-raised-button color="warn">Alterar informação</button>

            <button *ngIf="!insertMode && !editUserData" mat-raised-button color="warn" (click)="activeEditMode()">Editar dados!</button>

            <button *ngIf="formProfile.invalid && insertMode" mat-raised-button disabled>Registar!</button>

            <button *ngIf="formProfile.invalid && !insertMode" mat-raised-button disabled>Alterar informação!</button>

        </div>

    </form>
</div>

<div *ngIf="validateUserPopUp" class="user-registed-popup">
    <div class="user-registed-box">
        <div>Utilizador registado com sucesso!</div>
        <button mat-raised-button color="warn" (click)="closeUserPopUp()">Ok!</button>
    </div>
</div>


<div *ngIf="emaiDbExist" class="user-registed-popup">
    <div class="user-registed-box">
        <div>Email já existe. Verifique.</div>
        <button mat-raised-button color="warn" (click)="closeEmailExistPopUp()">Ok!</button>
    </div>
</div>
