.container {
    display: block;

}

.conatinerbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5px;

}

.conatinerbox img {
    width: 100px;
    height: 150px;
}

.box {
    margin: 2.5px;
    width: 100px;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

i {
    cursor: pointer;
}

.totaiscontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.totais {
    width: 600px;
    border: 2px solid grey;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}